	body {
		margin: 100px;
	}
		
	#content .entry {
		display: none;
		font: 11px/15px "Lucida Grande";
	}
	#content .entry.found {
		display: block;
	}

	.highlight {
		background-color: #d0f8bb;
		padding: 1px 3px 2px;
		border-radius: 2px;
	}

	img {
		display: block;
	}

	.entry {
		margin: 40px 0;
	}
