a {
color: #0E728E;
text-decoration: none;
}
	body {
		margin: 100px;
	}
		
	#content .element {
		display: none;
	}
	#content .element.found {
		display: block;
		font: 11px/15px "Lucida Grande";
		border-bottom: 1px solid #eee;
		padding-bottom: 20px;
		margin-top: 20px;
	}

	.highlight {
		background-color: #d0f8bb;
		padding: 1px 3px 2px;
		border-radius: 2px;
	}

	img {
		display: block;
	}

	.element {
	}
