
html, body {
    height: 100%;
    overflow: hidden;
}

.pilcrow {
    display: none;
}

body {
    margin: 0;
    padding: 0;
    font: 11px/17px "Lucida Grande";
}

h1, h2, h3 {
    font-weight: normal;
    margin: 0 0 7px;
}

h1 {
    margin-bottom: 15px;
}

p {
    margin-bottom: 7px;
}

a {
    color: #007CB8;
   text-decoration: none;
}

/* Manually adding the documentation container makes examples possible in the StyleDocco documentation. You won't need that in your stylesheet documentation, of course.

    <div class="styledocco-docs">
      <p>A <a href="#">regular link</a> (now styled), a <a href="./docs.html">visited link</a> and some <code>inline code</code>.</p>
    </div>

To show pseudo selectors styles in examples, just add the pseudo selector (including the `:`) as a class name.

    <div class="styledocco-docs"><p>
      <a href="#">Link</a>
      <a href="#" class=":hover">Link</a>
      <a href="#" class=":visited">Link</a>
    </div> */
.styledocco-docs > :not(.styledocco-example):not(pre) var,
.styledocco-docs > :not(.styledocco-example):not(pre) code {
    padding: .1em 3px;
    background: rgba(0, 0, 0, .025);
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: 3px;
    font-style: normal;
    font-family: "Ubuntu Mono", "Andale Mono", "DejaVu Sans Mono", "Monaco", "Bitstream Vera Sans Mono", "Consolas", "Lucida Console", monospace;
}

.styledocco-code pre code,
.styledocco-docs > pre samp,
.styledocco-docs > pre code {
    padding: 0;
    background: transparent;
    border: 0;
    font-family: "Ubuntu Mono", "Andale Mono", "DejaVu Sans Mono", "Monaco", "Bitstream Vera Sans Mono", "Consolas", "Lucida Console", monospace;
}
.styledocco-code code::selection,
.styledocco-docs > pre code::selection {
    background: #248;
    color: #fff;
}

/* ## Site Layout ## */

.styledocco-container {
    display: -webkit-box;
    height: 100%;
}
.styledocco-main {
    height: 100%;
    overflow-y: auto;
    padding: 20px;
    -webkit-box-sizing: border-box;
    -webkit-box-flex: 1;
    -webkit-box-shadow: -2px 0 2px #cccccc;
}
.styledocco-section {
    display: -webkit-box;
   position: relative;
    min-height: 200px;
    margin-bottom: 15px;
    -webkit-box-sizing: border-box;
}
.styledocco-section:last-child {
    margin-bottom: 0;
}

/* ## Menu ## */

.styledocco-sidebar {
    overflow-y: auto;
    background-color: #eee;
    height: 100%;
    padding: 10px;
    width: 180px;
    -webkit-box-sizing: border-box;
}
.styledocco-sidebar a {
    text-decoration: none;
    white-space: nowrap;
}
.styledocco-brand {
    display: block;
    margin: 0 0 10px;
    font-size: 16px;
}
.styledocco-brand:hover {
    text-decoration: none;
}
.styledocco-nav {
    margin: 0;
    padding: 0;
}
.styledocco-nav-heading {
    display: block;
    color: #333;
    font-size: 13px;
    font-weight: normal;
    margin: 7px 0 2px;
}
.styledocco-nav li {
    margin: 0 0 0 7px;
    padding: 0;
    list-style: none;
    border-top: 1px solid rgba(255, 255, 255, .1);
}
.styledocco-nav li:active,
.styledocco-nav li:focus,
.styledocco-nav li:hover {
    background: rgba(255, 255, 255, .2);
    border-color: transparent;
    border-radius: 3px;
    text-decoration: none;
}
.styledocco-nav li:active + li,
.styledocco-nav li:focus + li,
.styledocco-nav li:hover + li {
    border-color: transparent;
}
.styledocco-nav a {
    display: block;
}

/* ## Documentation & code ## */
.styledocco-docs {
    position: relative;
    width: 55%;
    min-height: 200px;
    background: #fff;
    border: 1px solid #eee;
    padding: 10px;
    -webkit-box-sizing: border-box;
}
.styledocco-code {
    width: 45%;
    overflow: auto;
    padding: 10px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #eee;
    -webkit-box-sizing: border-box;
    position: relative;
    left: -1px;
    background: #f9f9f9;
}
.styledocco-code:hover {
    opacity: 1;
}
/* Showing examples of documentation examples would be a bit recursive, but it's a checkerboard background to be able to see edges of elements regardless of their color. */
.styledocco-example {
    margin-top: 10px;
    padding: 15px;
    overflow: auto;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAAXNSR0IArs4c6QAAAAZQTFRF+vr6////+o8bnQAAABBJREFUCB1jYPjPgBXhEAYAfr8P8bm+jEoAAAAASUVORK5CYII=);
    border-top: 1px dotted rgb(220, 220, 225);
}
pre + .styledocco-example {
    margin-top: 0;
    border-top: 0;
}
.styledocco-example:before, .styledocco-example:after { display: table; content: ""; }
.styledocco-example:after { clear: both; }

.styledocco-docs > pre{
    white-space: pre-wrap;
    word-wrap: break-word;
    color: #445;
    margin: 0 !important;
    line-height: 1.1 !important;
}
.styledocco-docs > pre,
.styledocco-code pre {
    color: #445;
    margin: 0 !important;
    line-height: 1.1 !important;
}
.styledocco-docs > .pilcrow {
    position: absolute;
    right: 0; top: 0;
    text-decoration: none;
    font-weight: bold;
    opacity: .5;
}
.styledocco-docs > .pilcrow:hover {
    opacity: 1;
}
.styledocco-docs > pre {
    max-height: 200px;
    overflow-y: auto;
    padding: 10px 20px;
    background: rgb(248, 249, 251);
    border: 1px solid rgba(220, 220, 225, .8);
    border-left: 0; border-right: 0;
}
.styledocco-example + pre {
    border-top: 1px dotted rgb(220, 220, 225);
}
.styledocco-docs > pre:first-child {
    border-top: 0;
}
.styledocco-docs > pre:last-child {
    border-bottom: 0;
}
.styledocco-code pre {
    padding: 0;
    background: transparent;
    border: 0;
}

.styledocco-docs ul {
    padding-left: 25px;
}

/* ### Code highlighting */

.styledocco-code .comment, .styledocco-docs > pre .comment {
    color: #887;
}
.styledocco-code .number, .styledocco-docs > pre .number,
.styledocco-code .hexcolor, .styledocco-docs > pre .hexcolor {
    color: #497;
}
.styledocco-code .important, .styledocco-docs > pre .important,
.styledocco-code .string, .styledocco-docs > pre .string,
.styledocco-code .tag .value, .styledocco-docs > pre .tag .value {
    color: #b35;
}
.styledocco-code .tag, .styledocco-docs > pre .tag,
.styledocco-code .tag .title, .styledocco-docs > pre .tag .title {
    color: #348;
}
.styledocco-code .attribute, .styledocco-docs > pre .attribute,
.styledocco-code .variable, .styledocco-docs > pre .variable,
.styledocco-docs > :not(.styledocco-example):not(pre) var {
     color: #188;
}
.styledocco-code .pseudo, .styledocco-docs > pre .pseudo,
.styledocco-code .keyword, .styledocco-docs > pre .keyword,
.styledocco-code .rule .attribute, .styledocco-docs > pre .rule .attribute {
    color: #001;
}
.styledocco-code .at_rule, .styledocco-docs > pre .at_rule,
.styledocco-code .at_rule .keyword, .styledocco-docs > pre .at_rule .keyword,
.styledocco-code .id, .styledocco-docs > pre .id {
    color: #724;
}
.styledocco-code .function, .styledocco-docs > pre .function,
.styledocco-code .class, .styledocco-docs > pre .class {
    color: #328;
}
