body { height: 100%; }
.clearfix, .hasLayout { zoom: 1; }

#intro #hero {
	filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/i/waiter.png', sizingMethod='crop');
	background: none;
}

h3 {
	font-family: Verdana;
	font-size: 10px;
}
#footer .col6 {
	padding-top:3px;
}
form input.zemText {
	padding: 3px 6px 10px 6px;
}