<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <title>@title : Jennifer Albrecht Training</title>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="@root_path/public/docs/css/reset.css" type="text/css" media="screen"> 
    <link rel="stylesheet" href="@root_path/public/docs/css/screen.css" type="text/css" media="screen"> 
  </head>
  <body>
    <div id="header">
      <div class="container">
        :navigation
      </div>
    </div>
    <div id="wrapper">
      <div class="container">
        <div id="main-content">@content</div>
        <div id="sidebar">
          <a href="#" id="session" class="element">
            <h3>Complimentary Coaching Session</h3>
            <p>Get more details and register for your <span>complimentary</span>  session.</p>
          </a>    
          <a href="#" id="package" class="element">
            <h3>Download Package Details</h3>
            <p>A PDF with pricing options.</p>
          </a>    
            <a id="contact" class="element" href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#106;&#97;&#108;&#98;&#114;&#101;&#99;&#104;&#116;&#64;&#108;&#101;&#97;&#114;&#110;&#105;&#116;&#46;&#99;&#111;&#109;&#63;&#115;&#117;&#98;&#106;&#101;&#99;&#116;&#61;&#67;&#111;&#97;&#99;&#104;&#105;&#110;&#103;&#32;&#82;&#101;&#113;&#117;&#101;&#115;&#116;">
            <h3>Email Jennifer</h3>
            <p>I'll get back to you as soon as I can.</p>
          </a>
        </div>
      </div>
    </div>
    <div id="footer">
      <div class="container">
        <a target="_new" href="http://www.coachfederation.org/" id="icon-astd">astd</a>
        <a target="_new" href="http://www.coachinc.com/coachinc/" id="icon-icf">icf</a>
        <a target="_new" href="http://www.learnit.com/" id="icon-coachu">coachu</a>
        <a target="_new" href="http://www.astd.org/" id="icon-learnit">learnit</a>
      </div>
    </div>
  </body>
</html>