@import "compass/css3";
@import "compass/reset";
@import "compass/utilities";

html, body {
	height: 100%;
	font: 13px/17px Georgia, Times, serif;
			background: #f5f5f5;
}

#container {
	overflow: hidden;
	height: 100%;

	ul#list {
		overflow: hidden;
		margin: 0;
		padding: 0;
		list-style: none;
		width: 9999px;
		height: 100%;
		@include display-box;

		li.panel {
			height: 90%;
			overflow: auto;
			@include box-sizing(border-box);
			width: 100%; // only on load, js resizes to fit;
			  display: -webkit-box;
			  -webkit-box-orient: horizontal;
			  -webkit-box-pack: center;
			  -webkit-box-align: center;
			audio {
				display: none;
			}

			.word-wrap {
				background: #fff;
				width: 50%;
				height: 50%;
				margin: 0 auto;
				padding: 5% 2%;
				@include box-sizing(border-box);
				@include border-radius(10px);
				border: 1px solid #ddd;
				@include box-shadow(0 0 6px #ddd);
				text-align: center;

				h2 {
					margin: 40px 0 5px;
					color: #999;
					letter-spacing: 1px;
					text-transform: uppercase;
				}

				ol {
					color: #333;
				}

				input {
					border: 1px solid #ddd;
					padding: 10px;
					font: 24px "Helvetica Neue";
					margin: 50px auto 20px;
					width: 80%;
					text-align: center;
					display: block;
				}

				.answer {
					background: #fff;
					padding: 10px 20px;
					@include border-radius(10px);
					font: bold 16px "Helvetica Neue";
					color: #fff;
					text-decoration: none;
					display: inline-block;
					display: none;

					&.correct {
						color: #86cd39;
					}
					&.incorrect {
						color: red;
					}
				}
			}
		}
	}
}

.playBtn {
	background: #86cd39;
	padding: 10px 20px;
	@include border-radius(10px);
	font: bold 24px "Helvetica Neue";
	border: 1px solid #86cd39;
	color: #fff;
	text-decoration: none;
	display: inline-block;

}
.checkBtn {
	background: #407ccd;
	padding: 10px 20px;
	@include border-radius(10px);
	font: bold 16px "Helvetica Neue";
	border: 1px solid #407ccd;
	color: #fff;
	text-decoration: none;
	display: inline-block;

}

#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 40px;
	background: #fff;
	border-bottom: 1px solid #ddd;
	@include box-shadow(0 3px 3px #eee);

	h1 {
		text-align: center;
		font: bold 16px "Helvetica Neue";
		margin-top: 8px;
	}
}

#footer-controls {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 40px;
	background: #fff;
	border-top: 1px solid #ddd;
	@include box-shadow(0 -3px 3px #eee);

	ul {
		text-align: center;
		margin-top: 10px;

		li {
			height: 16px;
			width: 16px;
			margin: 0 2px;
			display: inline-block;
			background: #ddd;
			@include border-radius(100%);
		}
	}
}

.clicker {
	width: 50px;
	height: 50px;
	border-radius: 50px;
	background: #fff;
	position: absolute;
	cursor: pointer;
	@include box-shadow(0 0 6px #ccc);
}

.clicker-left {
	left: 20px;
	top: 40%;
}
.clicker-right {
	right: 20px;
	top: 40%;
}
